<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Email</th>
      <th>Name</th>
      <th>Username</th>
      <th>Phone Number</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < pembeli.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= pembeli[i].email %></td>
      <td><%= pembeli[i].name %></td>
      <td><%= pembeli[i].username %></td>
      <td><%= pembeli[i].phoneNumber %></td>
      
      <td>
        <% if(pembeli[i].status === 'Y'){ %>
        <span class="badge badge-success"> Aktif </span>
        <% } else { %>
        <span class="badge badge-danger"> Tidak Aktif </span>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
