<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name Product</th>
      <th>Kategoti</th>
      <th>Gambar</th>

      <th>Status</th>

      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < product.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= product[i].name %></td>
      <td><%= product[i]?.category?.name ?? '-' %></td>
      <td>
        <img
          src="http://localhost:3000/uploads/<%= product[i].thumbnial %>"
          id="perview"
          width="30%"
          height="30%"
        />
      </td>
      <td>
        <% if(product[i].status === 'Y'){ %>
        <span class="badge badge-success"> Aktif </span>
        <% } else { %>
        <span class="badge badge-danger"> Tidak Aktif </span>
        <% } %>
      </td>
      <td>
        <form
          action="/product/status/<%= product[i]._id %>?_method=PUT"
          style="display: inline-block;"
          method="POST"
        >
          <button class="btn btn-primary btn-sm">
            <i class="fas fa-folder">
              <% if(product[i].status === 'Y') { %> 
                
                Matikan 
                
              <% } else { %>
                Hidupkan 
              <% } %>
            </i>
          </button>
        </form>
        <a
          href="/product/edit/<%= product[i]._id %>"
          class="btn btn-info btn-sm"
        >
          <i class="fas fa-pencil-alt"></i>
          Ubah
        </a>
        <form
          style="display: inline-block"
          action="/product/delete/<%= product[i]._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
